.container__footer {
	display: flex;
	background: #000;
}

.footer {
	margin: auto;
	width: 100%;
	max-width: 1172.2px;
	padding: 27px 16px;
	color: #fff;
	font-weight: 400;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.footer__contents {
	height: 160px;
	position: relative;
}

.location {
	margin-bottom: 20px;
}

.location__title {
	margin-bottom: 15px;
}

.location__title::after {
	background: #fff;
}

.location__address {
	line-height: 32px;
}

.location__contact {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 26px;
}

.contact__button {
	font-family: var(--fontNunito);
	font-size: 12px;
	width: 198px;
	height: 38px;
	padding: 16px 18px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
}

.contact__button:last-of-type .contact__button--icon {
	width: 28px;
}

.contact__button--icon {
	margin-right: 10px;
}

.credits {
	width: 224px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.credits span {
	font-size: 10px;
	margin-top: 1px;
}

.credits__created img,
.credits__powered img {
	height: 18px;
}

@media (min-width: 64rem) {
	.footer {
		flex-flow: row;
		justify-content: space-between;
	}
}
